.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  padding-bottom: 80px;
  padding-right: 15px;
  padding-left: 12px;
  padding-top: 15px;
  border: solid 2px #eee;
  height: 390px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  margin-left: 110px;
  width: 199px;
  margin-top: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.containers {
  padding: 2px 16px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.container-fluid {
  /* margin-top: 10px;
  margin-left: 63px; */
  margin-bottom: 40px;
}

.cont {
  padding-left: 13px;
}

.card_information {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  border: 1px solid lightgray;
  height: 300px;
}
.row {
  padding-top: 25px;
}
.imagestyles {
  border-right-width: 7px;
  padding-right: 80px;
  width: 215px;
  height: 145px;
}

.card_image:hover {
  transform: scale(1.1);
}

.card_view_image:hover {
  transform: scale(1.1);
}

.decoration {
  text-decoration: line-through;
}

.color {
  color: green;
}

.position1 {
  height: 33px;
  position: relative;
  left: 9px;
  width: 50px;
}

.position2 {
  float: right;
}

.imagestyle2 {
  height: 190px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.imagestyle2:hover {
  transform: scale(1.1);
}

.image_border {
  border: 1px solid lightgray;
  margin-left: 85px;
  width: 350px;
}

.card_information_space {
  margin-bottom: 13px;
}
.position {
  position: relative;
  left: 20px;
}

.text_center {
  text-align: center;
}

.ani {
  border: 1px solid lightgray;
  margin-left: 60px;
  text-align: center;
}

.yo {
  position: relative;
}

.cart_right_container {
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 35px;
}

.button_space {
  display: flex;
  justify-content: space-evenly;
}

.cart_card {
  border: 1px solid lightgray;
  height: 60px;
  margin: 10px;
}

.cart_card_image {
  height: 55px;
  width: 80px;
}

.cart_card_detail {
  position: relative;
  left: 200px;
  bottom: 50px;
}

.cart_card_quantity {
  float: right;
  position: relative;
  right: 280px;
  bottom: 90px;
}

.cart_card_add_subtract {
  float: right;
  position: relative;
  bottom: 100px;
}

.font_increase {
  font-size: 40px;
}

.space_font {
  padding-right: 20px;
}

.linebetween {
  border: 1px solid lightgray;
}

.checkout_lastname {
  position: relative;
  left: 240px;
  bottom: 62px;
}
.checkout_username {
  position: relative;
  bottom: 50px;
  padding-bottom: 15px;
}
.input_text_expand {
  width: 450px;
}

.checkout_state {
  position: relative;
  left: 120px;
  bottom: 127px;
}

.zipcode {
  position: relative;
  bottom: 204px;
  left: 245px;
}

.select {
  height: 30px;
}

.checkout_pyment {
  position: relative;
  bottom: 185px;
}

.checkout_button {
  position: relative;
  bottom: 160px;
}

.checkout_card_image {
  height: 55px;
  width: 60px;
}

.checkout_card_description {
  position: relative;
  left: 85px;
  bottom: 50px;
}

.checkout_card_price {
  position: relative;
  float: right;
  bottom: 88px;
  right: 25px;
}

.checkout_card_total {
  position: relative;
  bottom: 40px;
  left: 10px;
}

.checkout_card_total_price {
  float: right;
  position: relative;
  bottom: 71px;
  right: 10px;
}

.checkout_card_line {
  border: 1px solid;
  position: relative;
  bottom: 48px;
}

.green_button {
  background-color: white;
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}
.grey_button {
  background-color: white;
  border: 1px solid #6c757d;
  color: #6c757d;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.btn{
  outline: unset !important;
}

.btn-outline-success{
  outline: unset !important; 
}
.red_button {
  background-color: white;
  border: 1px solid #d9534f;
  color: #d9534f;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.green_button:hover {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.grey_button:hover {
  background-color: #6c757d;
  border: 1px solid #6c757d;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}
.red_button:hover {
  background-color: #d9534f;
  border: 1px solid #d9534f;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.card_loadMore_button {
  background-color: white;
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
  outline: none;
  position: relative;
  left: 610px;
  top: 20px;
}

.card_loadMore_button:hover {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10%;
  outline: none;
  position: relative;
  left: 610px;
  top: 20px;
}
.checkout_card_border {
  border: 1px solid;
  margin-top: 20px;
}
.checkout_card_border {
  border: 1px solid;
  margin-top: 20px;
}

.checkout_card_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.srk {
  padding: 0px;
}

.navbar_button {
  border: 1px solid white;
  margin-right: 40px;

  font-size: 17px;
  background: white;
  color: #007bff;
  width: 80px;
  height: 33px;
}

.navbar_search {
  width: 38px;
  border-radius: 50%;
}

.navbar_search_icon {
  position: absolute;
  right: 179px;
  background-color: transparent;
  box-shadow: none;
  border: 0px;
  font-size: 25px;
}

.fa-search:before {
  content: "\f002";
  color: black;
  font-size: 20px;
}

.fa-shopping-bag:before {
  content: "\f290";
  color: yellow;
  margin-right: 7px;
  font-size: 21px;
}

.navbar_shopping_bag {
  font-size: 20px;
}

.navbar_search_submit {
  background-color: white;
  border: 0px solid white;
  height: 33px;
  position: relative;
  left: 430px;
  top: 9px;
}

.search_icon {
  position: relative;
  left: 435px;
  font-size: 20px;
  top: 15px;
}

.navbar_right_side {
  padding-left: 40px;
}

.navbar_store {
  margin-left: 11px;
  font-size: 19px;
}

.navbar_search {
  margin-left: 28px;
}

.search_dimension {
  width: 500px !important;
  height: 38px !important;
  font-size: 15px !important;
  color: black !important;
  position: relative !important;
  top: 7px !important;
}

.navbar_cart_text {
  color: white;
  font-size: 22px;
  position: relative;
  top: 0px;
  margin-right: 25px;
}

.navbar_cart {
  position: relative;
  top: 5px;
}

.fa-shopping-cart:before {
  content: "\f07a";
  color: yellow;
  font-size: 25px;
}

.card {
  border: 1px solid black;
  height: 380px;  
}
/* 332px  */
.card_image {
  width: 180px;
  height: 185px;
  margin: auto;
  background-size: cover;
}
 /* 160 140   */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 1% 5% !important ;
}

.card_image_dimension {
  max-width: 100%;
  max-height: 100%;
}

.card_detail_size {
  font-size: 16px;
}

.card_detail {
  margin: 20px 5px;
  height: 100px;
}

#page-numbers {
  list-style: none;
  display: flex;
  font-size: 20px;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.card_view_lefside {
  border: 1px solid lightgray;
  padding: 10px 80px;
  margin: 0px 20px;
  height: 200px;
}

.card_view_detail_size {
  font-size: 19px !important;
}

.card_view_image_dimension {
  height: 178px;
  width: 200px;
  margin: auto;
}

.card_view_image {
  max-width: 100%;
  max-height: 100%;
}

.amir {
  width: 100%;
  height: 450px;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 20px;
}

.carousel-indicators li {
  background-color: red;
  border-radius: 50%;
  border: 0px;
  height: 10px;
  width: 10px;

  background-color: #fff;
}

.carousel-indicators {
  margin: auto !important ;
}

.carousel-caption {
  font-size: 20px;
}

.crousel_button {
  font-size: 15px !important;
}

.navbar {
  margin-bottom: 0px;
}

.navbar_search_button{
width: 50px !important;
height: 35px !important;
position: absolute !important;
left: 741px !important;
top: 14px !important;
background-color: white !important;
border: white !important;
}

.navbar_search_submit{
  position: absolute;
  left: 27px;
  top: 8px;
  height: 25px;
}

.cartnumber{
  position: absolute;
    width: 12px;
    height: 22px;
    line-height: 19px;
    font-size: 15px;
    padding: 2px;
    background-color: #eb0028;
    color: #fff;
    top: 10px;
    right: 28px;
    border-radius: 50%;
    font-style: normal;
    z-index: 1;
}

.styleGrid{
  display: grid;
  height: 900px;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid black; */
  grid-template-rows: 1fr 1fr;
  margin: 70px 70px;
  grid-auto-rows: 300 px;
  grid-auto-rows: 300px;
  align-items: center;
}

.div1{
  height: 312px;
  grid-row: 1/-1;
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1.3fr;
}

.div2{
  height: 312px;
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1.3fr;
}

.image{
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1512484776495-a09d92e87c3b?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8MTcyOTI1OHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.image2{
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8MTcyOTI1OHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.image3{
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNzI5MjU4fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.text{
  background-color: #EFEEF4 ;
  padding: 40px;
}

.footer{
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(4,1fr);
  padding: 56px;
  justify-items: center;
  color: white;
  background-color: #111125;
}

.icon{
  font-size: 17px !important;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.copyright{
    text-align: center;
    background-color: #111125;
    color: white;
    border-top: 1px solid white;
    padding: 20px;
}

.photo{
    width: 100%;
    background-image: url("http://developersinfotech.com/wp-content/uploads/2021/04/about-bg-img.jpg");
    background-size: cover;
    height: 400px;
    box-shadow: inset 0 0 0 1000px rgb(4 4 19 / 67%);
    position: relative;
}

.centreText{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centreTextTop{
  font-size: 35px;
  padding-left: 50px;
}

.About{
  background-color: rgba(208, 216, 234, 0.25);
}
.AboutCard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

.AboutCardSize{
  background-color: white;
  width: 300px;
  height: 230px;
  position: relative;
  bottom: 90px;
  color: black;
  padding: 35px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 85%);
}

.AboutCardList{
  font-size: 19px;
    padding-left: 25px;
}

.ChooseUs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 450px;
}

.ChooseUsImage{
  background-image: url(http://developersinfotech.com/wp-content/uploads/2021/04/why-choose-us.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(4 4 19 / 67%);
}

.ChooseUsTitle{
  background-color: white;
    color: rgb(4 4 19 / 67%);
    padding: 59px;
}

.ChooseUsText{
  border: 1px solid lightgray;
    width: 450px;
    height: 30px;
    transition: height 1s;
}

.ChooseUsText:focus{
  height: 60px;
  color: #007bff;
}

.accodionColor{
  background-color: rgba(208, 216, 234, 0.25) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.ServiceContact{
  margin: 135px;
  color: rgb(4 4 19 / 67%);
  height: 100px;
  padding-left: 110px;
  font-weight: 400;
  padding-top: 23px;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 99%);
  background-color: white;
}

.ServiceContactButton{
  margin-left: 170px;
    font-size: 20px;
    padding: 7px 11px;
    border-radius: 12px;
    outline: none !important;
    color: white;
    background-color: rgb(4 4 19 / 67%);
}

.map{
  display: grid;
    grid-template-columns: 60% 40%;
    background-color: white;
}

.mapText{
  font-size: 36px;
    font-weight: 400;
    margin-left: 170px;
    color: rgb(4 4 19 / 67%);
}

.mapIcon{
  color: rgb(4 4 19 / 67%);
    font-size: 28px !important;
    margin-left: 80px;
}

.mapIconTextLocation{
  font-size: 19px;
  margin-left: 15px;
}

.mapIconTextEnvolope{
  font-size: 19px;
  margin-left: 12px;
}

.mapIconTextPhone{
  font-size: 19px;
  margin-left: 10px;
}

.mapIconTextMobile{
  font-size: 19px;
  margin-left: 20px;  
}